/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #36393f;
    color: #fff;
}

header {
    background-color: #36393f;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #43b581; /* Color verde Discord */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #43b581; /* Color verde Discord */
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #36393f;
}

/* Estilos similares a Discord */
.content {
    background-color: #2e3338; /* Color de fondo similar a Discord */
    padding: 20px;
    border: 1px solid #202225; /* Color de borde similar a Discord */
    box-shadow: 0 0 10px #000;
}
